<!DOCTYPE html>
<html>
<head>
	<title>tabla2</title>
</head>
<body>
	<div th:fragment="tabla2">
		<table>
			<thead>
				<tr>
					<th>DNI</th>
					<th>Nombre</th>
					<th>Apellido</th>
					<th>Acción</th>
				</tr>
			</thead>
			<tbody>
				<!--
				<tr th:each="empleado : ${empleados}">
					<td th:text="${empleado.dni}"></td>
					<td th:text="${empleado.nombre}"></td>
					<td th:text="${empleado.apellidos}"></td>
					<td>
						<button class="deletebtn" th:attr="data-el_id=${empleado.id}">Eliminar</button>
					</td>
					<td>
						<button class="updatebtn" th:attr="data-el_id=${empleado.id}">Modificar</button>
					</td>
				</tr>					
				-->
			</tbody>
		</table>
	    <button id="prevBtn">Página Anterior</button>
	    <button id="nextBtn">Página Siguiente</button>
	</div>
</body>
</html>
